
@model Product
@* @{
    var categories =new SelectList( CategoryRepository.Categories,"CategoryId","Name");
} *@
<form method="post" class="row g-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="name">Ürün Adı</label>
        <input asp-for="Name" value="@Model.Name" class="form-control" placeholder="Ürün adını giriniz">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="price">Ürün Fiyatı</label>
        <input asp-for="Price" value="@Model.Price" class="form-control" placeholder="Ürün fiyatını giriniz">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="description">Ürün Açıklaması</label>
        <textarea class="form-control" value="@Model.Description" asp-for="Description" rows="3"></textarea>
        @* <span asp-validation-for="Description" class="text-danger"></span> *@
    </div>
   @*  <div class="form-group">
        <label for="categoryid">Kategori</label>
        <select class="form-control"  asp-items="@categories" asp-for="CategoryId">
            <option selected disabled>Kategori Seçiniz</option>
           
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div> *@
    <div class="form-group">
        <label for="ImageUrl">Ürün Resmi</label>
        <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control-file">
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>